<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/Content/student?v=ojifqEN4wg5wH2HrdcWHIj-FuDz7-XxL2b_bpLGnZoA1" rel="stylesheet"/>

    
    
    
    <style>
        .drawer-controls {
            padding-top: 10px;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="aiub">
    <script src="/bundles/student?v=Mb027PMAmiTqzWj6Dw9KRqgT5eytZTI5lmEp8JK8jLU1"></script>

    
    <div id="dvLoading">
    </div>
    <div id="backOpacity"></div>
    <div class="container">
        <br />
        

<div class="row" ng-app="aiub" ng-controller="NotificationController" ng-init="init('/')" ng-click="DocumentClick()">
    <div class="hidden-lg hidden-md" style="padding: 15px;">
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="topbar-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-00000000-0000-0000-0000-000000000000">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a id="navigation-toggler" class="navbar-brand logo" href="/Student">
                </a>

            </div>
            <ul class="nav navbar-nav hidden-md hidden-sm hidden-xs">
                <li><a href="/Student/Course?q=iBpjLWVwA0VqUfd1zzMKvKuQZ4HHzfR0RBG0enAqZLY%3D"><i class="glyphicon glyphicon-list" aria-hidden="true"></i>&nbsp;Courses &amp; Results</a></li>
                <li><a href="/Student/Registration?q=iBpjLWVwA0Vwz63h67B%2BnA%3D%3D"><i class="glyphicon glyphicon-flash" aria-hidden="true"></i>&nbsp;Registration</a></li>
                <li><a href="/Student/GradeReport/ByCurriculum?q=mxPlMMGCoVQ%3D"><i class="glyphicon glyphicon-certificate" aria-hidden="true"></i>&nbsp;Grade Report</a></li>
            </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-00000000-0000-0000-0000-000000000000">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div id="noti_Counter"></div> <!--SHOW NOTIFICATIONS COUNT.-->
                        <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                        <a href="#" id="noti_Button">
                            <div ng-click="SeeNotifications()">&nbsp;&nbsp;<span class="fa fa-bell"></span><span class="hidden-lg hidden-md hidden-sm">&nbsp;Notifications</span></div>
                        </a>

                        
                        <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                        <div id="notifications">
                            <div style="width: 100%">
                                <h3>
                                    Notifications
                                    <a href="#" class="pull-right" ng-click="DocumentClick()">Close</a>
                                </h3>
                            </div>
                            <div class="col-md-12" style="height: 300px; overflow-y: scroll">
                                <div ng-show="Notifications.length==0" class="row" style="margin: 5px; padding: 5px; background-color: lightblue; border-radius: 15px; color: #3b5998; text-align: center">
                                    <b>Nothing to Show....</b>
                                </div>
                                <div ng-repeat="notification in Notifications">
                                    <a href="#" ng-click="GoToUrl(notification)">
                                        <div class="row" style="margin: 5px; padding: 5px; background-color: lightblue; border-radius: 15px; color: #3b5998;">
                                            <div class="col-md-1 col-sm-12 col-xs-12 hidden-sm hidden-xs"><small>{{$index+1}}</small></div>
                                            <div class="col-md-11 col-sm-12 col-xs-12"><small><b>{{notification.Message}}</b></small><br /><small>{{notification.Duration}}</small></div>
                                            
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="seeAll"><a href="#" ng-click="GoToNotification1('/Student/Notification')">See All</a></div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-cog"></span><span class="hidden-lg hidden-md hidden-sm">&nbsp;Settings</span>
                        </a>
                        <ul class="dropdown-menu">
                            <div class="arrow top"></div>
                            <li><a href="/Student/Credential/ChangePassword">Change Password</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="/Login/Logout">
                            <span class="fa fa-sign-out"></span><span class="hidden-lg hidden-md hidden-sm">Log Out</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text navbar-right" style="padding-right: 10px;">Welcome <a href="/Student/Home/Profile" class="navbar-link"><small>RANA, JAHID HASAN</small></a></p>
                    </li>
                </ul>




                







            </div>
            <!-- /.navbar-collapse -->
        </div>

    </nav>

</div>

<style>
    /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
    #noti_Button {
        margin: 0px 0px 0px -8px;
    }

    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #noti_Counter {
        display: block;
        position: absolute;
        background: #E1141E;
        color: #FFF;
        font-size: 12px;
        font-weight: normal;
        padding: 1px 3px;
        margin: -8px 0 0 25px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        z-index: 1;
    }


    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #notifications {
        display: none;
        width: 430px;
        position: absolute;
        top: 35px;
        right: 0;
        background: #FFF;
        border: solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
        z-index: 9000;
    }



    @media (max-width: 770px) {

        #noti_Counter {
            display: block;
            position: absolute;
            background: #E1141E;
            color: #FFF;
            font-size: 12px;
            font-weight: normal;
            padding: 1px 3px;
            margin: -25px 0 0 25px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            z-index: 1;
        }

        #notifications {
            display: block;
            width: 300px;
            position: sticky;
            top: 35px;
            right: 10px;
            background: #FFF;
            border: solid 1px rgba(100, 100, 100, .20);
            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
            z-index: 9000;
        }
    }

    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    /*#notifications:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            color: transparent;
            border: 10px solid #CCC;
            border-color: transparent transparent #FFF;
            margin-top: -20px;
            margin-left: 10px;
        }*/

    h3 {
        display: block;
        color: #333;
        background: #FFF;
        font-weight: bold;
        font-size: 13px;
        padding: 8px;
        margin: 0;
        border-bottom: solid 1px rgba(100, 100, 100, .30);
    }

    .seeAll {
        background: #F6F7F8;
        padding: 8px;
        font-size: 12px;
        font-weight: bold;
        border-top: solid 1px rgba(100, 100, 100, .30);
        text-align: center;
    }

        .seeAll a {
            color: #3b5998;
        }

            .seeAll a:hover {
                background: #F6F7F8;
                color: #3b5998;
                text-decoration: underline;
            }
</style>



<script>
    $(document).ready(function () {

        $('#noti_Button').click(function () {
            return false;
        });

        $('#notifications').click(function () {
            return false;       // DO NOTHING WHEN CONTAINER IS CLICKED.
        });
    });
</script>

        <div class="portal-body">
            

<div id="drawerExample" class="drawer dw-xs-8 dw-sm-6 dw-md-4 fold hidden-lg hidden-md" aria-labelledby="drawerExample">
    <div class="drawer-controls">
        <a href="#drawerExample" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawerExample" class="drawer-menu-link">
            <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
        </a>
    </div>

    <div class="drawer-contents">
        
        <div class="drawer-body">


<div class="panel-group" id="accordion8eea8c30-24ea-465a-8c32-58b03757abc2" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading7b9f5322-24b2-4a5c-938e-50543700f8c5">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion8eea8c30-24ea-465a-8c32-58b03757abc2" href="#collapse7b9f5322-24b2-4a5c-938e-50543700f8c5" aria-expanded="false" aria-controls="collapse7b9f5322-24b2-4a5c-938e-50543700f8c5" class="collapsed">
                    <i class="fa fa-bar-chart-o"></i>&nbsp;Academics
                    <i class="pull-right fa fa-caret-down"></i>
                </a>
            </h5>
        </div>

        <div id="collapse7b9f5322-24b2-4a5c-938e-50543700f8c5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7b9f5322-24b2-4a5c-938e-50543700f8c5" aria-expanded="false" style="height: 0px;">
            <div>
                <a href="/Student/Course?q=iBpjLWVwA0VqUfd1zzMKvKuQZ4HHzfR0RBG0enAqZLY%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-list"></span>&nbsp;Courses &amp; Results
                </a>
                <a href="/Student/Registration?q=iBpjLWVwA0Vwz63h67B%2BnA%3D%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-flash"></span>&nbsp;Registration
                </a>
                <a href="/Student/Adrop/DropApplication?q=mxPlMMGCoVQ%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-flash"></span>&nbsp;Drop Application
                </a>
                <a href="/Student/Section/Offered?q=mxPlMMGCoVQ%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Offered Courses
                </a>
                <a href="/Student/Curriculum?q=mxPlMMGCoVQ%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;My Curriculum
                </a>
                <a href="/Student/Accounts?q=6Pzj5wBh8sg%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-usd"></span>&nbsp;Financials
                </a>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1fed19d9-bebe-4ee7-b4a1-1c124b3b9211">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion8eea8c30-24ea-465a-8c32-58b03757abc2" href="#collapse1fed19d9-bebe-4ee7-b4a1-1c124b3b9211" aria-expanded="false" aria-controls="collapse1fed19d9-bebe-4ee7-b4a1-1c124b3b9211" class="collapsed">
                    <i class="glyphicon glyphicon-certificate"></i>&nbsp;Grade Reports
                    <i class="pull-right fa fa-caret-down"></i>
                </a>
            </h5>
        </div>

        <div id="collapse1fed19d9-bebe-4ee7-b4a1-1c124b3b9211" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1fed19d9-bebe-4ee7-b4a1-1c124b3b9211" aria-expanded="false" style="height: 0px;">
            <div>
                <a href="/Student/GradeReport/ByCurriculum?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-certificate"></span>&nbsp; By Curriculum</a>
                <a href="/Student/GradeReport/BySemester?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-certificate"></span>&nbsp;By Semester</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading8ae24ff8-9219-472a-9df2-556eb48ca4d9">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion8eea8c30-24ea-465a-8c32-58b03757abc2" href="#collapse8ae24ff8-9219-472a-9df2-556eb48ca4d9" aria-expanded="false" aria-controls="collapse8ae24ff8-9219-472a-9df2-556eb48ca4d9" class="collapsed">
                    <i class="fa fa-edit"></i> Library
                    <i class="pull-right fa fa-caret-down"></i>
                </a>
            </h5>
        </div>

        <div id="collapse8ae24ff8-9219-472a-9df2-556eb48ca4d9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8ae24ff8-9219-472a-9df2-556eb48ca4d9" aria-expanded="false">
            <div>
                <a href="/Student/Library/SearchBooks?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-search"></span>&nbsp;Search Book</a>
                <a href="/Student/Library/CurrentBorrows?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;Current Borrows</a>
                <a href="/Student/Library/BorrowHistory?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Borrow History</a>
                <a href="/Student/Library/Financials?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-usd"></span>&nbsp;Financial</a>
                
                
                
                <a href="/Student/Library/UGC?q=6Pzj5wBh8sg%3D" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;UGC  Digital Library (UDL) E-Resources</a>
                <a href="/Student/Library/SAGE?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;SAGE</a>
                <a href="/Student/Library/Research4Life?q=6Pzj5wBh8sg%3D" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;Research4Life</a>
            </div>
        </div>
    </div>


    

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headinge85d4454-a8bb-47af-a085-c953625119a5">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion8eea8c30-24ea-465a-8c32-58b03757abc2" href="#collapsee85d4454-a8bb-47af-a085-c953625119a5" aria-expanded="false" aria-controls="collapsee85d4454-a8bb-47af-a085-c953625119a5" class="collapsed">
                    <i class="fa fa-picture-o"></i> Others
                    <i class="pull-right fa fa-caret-down"></i>
                </a>
            </h4>
        </div>

        <div id="collapsee85d4454-a8bb-47af-a085-c953625119a5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinge85d4454-a8bb-47af-a085-c953625119a5" aria-expanded="false">
            <div>
                <a href="/Student/Application?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-file"></span>&nbsp;Applications</a>
                <a href="/Student/ParkingApplication" class="list-group-item"><span class="glyphicon glyphicon-file"></span>&nbsp;Parking Applications</a>

                <a href="/Student/Home/OfficialForms?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-download"></span>&nbsp;Download Forms</a>
                
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading7eca2752-188e-472c-b157-59a7b25a1675">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion8eea8c30-24ea-465a-8c32-58b03757abc2" href="#collapse7eca2752-188e-472c-b157-59a7b25a1675" aria-expanded="false" aria-controls="collapse7eca2752-188e-472c-b157-59a7b25a1675" class="collapsed">
                    <i class="fa fa-table"></i> Messages
                    <i class="pull-right fa fa-caret-down"></i>
                </a>
            </h5>
        </div>

        <div id="collapse7eca2752-188e-472c-b157-59a7b25a1675" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7eca2752-188e-472c-b157-59a7b25a1675" aria-expanded="false" style="height: 0px;">
            <div>
                <a target="_blank" href="/Message/Email" class="list-group-item"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Mail Box</a>
            </div>
        </div>
    </div>

</div>

        </div>
        
    </div>

</div>
<div class="row">

    <div id="navigation-bar" class="col-md-3 hidden-xs hidden-sm">


<div class="panel-group" id="accordion595f2cc4-8cc7-42ed-b8e0-d3cc4b844bc9" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading59c7fefb-9bc8-46b6-aaa9-84ad3be60838">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion595f2cc4-8cc7-42ed-b8e0-d3cc4b844bc9" href="#collapse59c7fefb-9bc8-46b6-aaa9-84ad3be60838" aria-expanded="false" aria-controls="collapse59c7fefb-9bc8-46b6-aaa9-84ad3be60838" class="collapsed">
                    <i class="fa fa-bar-chart-o"></i>&nbsp;Academics
                    <i class="pull-right fa fa-caret-down"></i>
                </a>
            </h5>
        </div>

        <div id="collapse59c7fefb-9bc8-46b6-aaa9-84ad3be60838" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading59c7fefb-9bc8-46b6-aaa9-84ad3be60838" aria-expanded="false" style="height: 0px;">
            <div>
                <a href="/Student/Course?q=iBpjLWVwA0VqUfd1zzMKvKuQZ4HHzfR0RBG0enAqZLY%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-list"></span>&nbsp;Courses &amp; Results
                </a>
                <a href="/Student/Registration?q=iBpjLWVwA0Vwz63h67B%2BnA%3D%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-flash"></span>&nbsp;Registration
                </a>
                <a href="/Student/Adrop/DropApplication?q=mxPlMMGCoVQ%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-flash"></span>&nbsp;Drop Application
                </a>
                <a href="/Student/Section/Offered?q=mxPlMMGCoVQ%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Offered Courses
                </a>
                <a href="/Student/Curriculum?q=mxPlMMGCoVQ%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;My Curriculum
                </a>
                <a href="/Student/Accounts?q=6Pzj5wBh8sg%3D" class="list-group-item">
                    <span class="glyphicon glyphicon-usd"></span>&nbsp;Financials
                </a>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading190a1012-9496-4c60-b95a-8180ec119e58">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion595f2cc4-8cc7-42ed-b8e0-d3cc4b844bc9" href="#collapse190a1012-9496-4c60-b95a-8180ec119e58" aria-expanded="false" aria-controls="collapse190a1012-9496-4c60-b95a-8180ec119e58" class="collapsed">
                    <i class="glyphicon glyphicon-certificate"></i>&nbsp;Grade Reports
                    <i class="pull-right fa fa-caret-down"></i>
                </a>
            </h5>
        </div>

        <div id="collapse190a1012-9496-4c60-b95a-8180ec119e58" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading190a1012-9496-4c60-b95a-8180ec119e58" aria-expanded="false" style="height: 0px;">
            <div>
                <a href="/Student/GradeReport/ByCurriculum?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-certificate"></span>&nbsp; By Curriculum</a>
                <a href="/Student/GradeReport/BySemester?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-certificate"></span>&nbsp;By Semester</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading267a561b-0f89-4dde-a411-7dbd26dddf94">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion595f2cc4-8cc7-42ed-b8e0-d3cc4b844bc9" href="#collapse267a561b-0f89-4dde-a411-7dbd26dddf94" aria-expanded="false" aria-controls="collapse267a561b-0f89-4dde-a411-7dbd26dddf94" class="collapsed">
                    <i class="fa fa-edit"></i> Library
                    <i class="pull-right fa fa-caret-down"></i>
                </a>
            </h5>
        </div>

        <div id="collapse267a561b-0f89-4dde-a411-7dbd26dddf94" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading267a561b-0f89-4dde-a411-7dbd26dddf94" aria-expanded="false">
            <div>
                <a href="/Student/Library/SearchBooks?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-search"></span>&nbsp;Search Book</a>
                <a href="/Student/Library/CurrentBorrows?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;Current Borrows</a>
                <a href="/Student/Library/BorrowHistory?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Borrow History</a>
                <a href="/Student/Library/Financials?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-usd"></span>&nbsp;Financial</a>
                
                
                
                <a href="/Student/Library/UGC?q=6Pzj5wBh8sg%3D" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;UGC  Digital Library (UDL) E-Resources</a>
                <a href="/Student/Library/SAGE?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;SAGE</a>
                <a href="/Student/Library/Research4Life?q=6Pzj5wBh8sg%3D" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp;Research4Life</a>
            </div>
        </div>
    </div>


    

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading13ecbefe-d99c-4197-8e99-3824bff0d768">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion595f2cc4-8cc7-42ed-b8e0-d3cc4b844bc9" href="#collapse13ecbefe-d99c-4197-8e99-3824bff0d768" aria-expanded="false" aria-controls="collapse13ecbefe-d99c-4197-8e99-3824bff0d768" class="collapsed">
                    <i class="fa fa-picture-o"></i> Others
                    <i class="pull-right fa fa-caret-down"></i>
                </a>
            </h4>
        </div>

        <div id="collapse13ecbefe-d99c-4197-8e99-3824bff0d768" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13ecbefe-d99c-4197-8e99-3824bff0d768" aria-expanded="false">
            <div>
                <a href="/Student/Application?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-file"></span>&nbsp;Applications</a>
                <a href="/Student/ParkingApplication" class="list-group-item"><span class="glyphicon glyphicon-file"></span>&nbsp;Parking Applications</a>

                <a href="/Student/Home/OfficialForms?q=mxPlMMGCoVQ%3D" class="list-group-item"><span class="glyphicon glyphicon-download"></span>&nbsp;Download Forms</a>
                
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading3d44cb68-2816-4fff-950b-866c89176ed5">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion595f2cc4-8cc7-42ed-b8e0-d3cc4b844bc9" href="#collapse3d44cb68-2816-4fff-950b-866c89176ed5" aria-expanded="false" aria-controls="collapse3d44cb68-2816-4fff-950b-866c89176ed5" class="collapsed">
                    <i class="fa fa-table"></i> Messages
                    <i class="pull-right fa fa-caret-down"></i>
                </a>
            </h5>
        </div>

        <div id="collapse3d44cb68-2816-4fff-950b-866c89176ed5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3d44cb68-2816-4fff-950b-866c89176ed5" aria-expanded="false" style="height: 0px;">
            <div>
                <a target="_blank" href="/Message/Email" class="list-group-item"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Mail Box</a>
            </div>
        </div>
    </div>

</div>

    </div>
    <div id="main-content" class="col-md-9 col-xs-12">
        

<div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12">
        
        

            <div class="alert alert-success">
                <b>Please use this below information for log in to Microsoft Teams.</b><br/><br/>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered" style="border-width: 5px">
                            <tr>
                                <td>
                                    <b>User Name</b>
                                </td>
                                <td style="width: 5px">
                                    <b>:</b>
                                </td>
                                <td>
                                    <b>
                                        17-33414-1@student.aiub.edu
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Password</b>
                                </td>
                                <td>
                                    <b>:</b>
                                </td>
                                <td>
                                    <b>
                                        Gos39576
                                        
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <b>How to log in to Microsoft Teams with one time password.</b>
                            </div>
                            <p><a href="/Content/OfficialForms/Student/MicrosoftTeams.pdf" class="btn btn-primary" role="button" target="_blank">Download</a> </p>
                        </div>
                    </div>

                </div>
            </div>


                    <div class="panel panel-default">
                <div class="panel-body">
                    



    <div class="text-center">
        <a href="/Student/Registration/Start" class="btn btn-danger">Go to Registration</a>
    </div>

                </div>
            </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Class Schedule</h5>
            </div>
            <div class="panel-body">
                <style type="text/css">
    .scheduleTable {
    }

        .scheduleTable .col-md-6 {
            padding: 2px;
            /*border-top: 1px solid #f5f1f1;*/
            font-size: 12px;
        }

        .scheduleTable .row:first-child {
            border-top: none;
        }

        .scheduleTable .row {
            border-top: 1px solid #f5f1f1;
        }
</style>

<div class="scheduleTable container-fluid">

        <div class="row">
            <div class="col-md-2 col-xs-12">
<label for="Today">Today</label>            </div>
            <div class="col-md-10 col-xs-12">
                    <div class="col-md-6">No Class On This Day</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-12">
<label for="Tomorrow">Tomorrow</label>            </div>
            <div class="col-md-10 col-xs-12">
                    <div class="col-md-6">No Class On This Day</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-12">
<label for="">05-Jul-2020</label>            </div>
            <div class="col-md-10 col-xs-12">
                        <div class="col-md-6">
                            <a href="/Student/Section?q=XUwnlKuNUeS53IWa2Ji0kA%3D%3D">COMPUTER NETWORKS [A]</a>
                            <div>
                                Time: <label for="Sun_12:0_PM_-_Sun_2:0_PM">Sun 12:0 PM - Sun 2:0 PM</label> Room: <label for="D0602">D0602</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="/Student/Section?q=BLh1mcIMnBHrYfoOeBxm4A%3D%3D">COMPUTER AIDED DESIGN &amp; DRAFTING [A]</a>
                            <div>
                                Time: <label for="Sun_2:0_PM_-_Sun_5:0_PM">Sun 2:0 PM - Sun 5:0 PM</label> Room: <label for="D0310">D0310</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="/Student/Section?q=Kl4ffCFElU99cUgojEzuWg%3D%3D">MICROPROCESSOR AND EMBEDDED SYSTEMS [A]</a>
                            <div>
                                Time: <label for="Sun_8:0_-_Sun_10:0">Sun 8:0 - Sun 10:0</label> Room: <label for="D0502">D0502</label>
                            </div>
                        </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-12">
<label for="">06-Jul-2020</label>            </div>
            <div class="col-md-10 col-xs-12">
                        <div class="col-md-6">
                            <a href="/Student/Section?q=ebRvcu%2F9%2FQjlgJwl9xtrEw%3D%3D">HUMAN COMPUTER INTERACTION [B]</a>
                            <div>
                                Time: <label for="Mon_2:0_PM_-_Mon_3:30_PM">Mon 2:0 PM - Mon 3:30 PM</label> Room: <label for="">1109</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="/Student/Section?q=yupCDdGM8pDuTsQhFtEklQ%3D%3D">WEB TECHNOLOGIES [F]</a>
                            <div>
                                Time: <label for="Mon_11:0_-_Mon_2:0_PM">Mon 11:0 - Mon 2:0 PM</label> Room: <label for="D0207">D0207</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="/Student/Section?q=SsGJbVuLVkd6h33Mr324Pw%3D%3D">BUSINESS COMMUNICATION [CS/ENGG] [K]</a>
                            <div>
                                Time: <label for="Mon_9:30_-_Mon_11:0">Mon 9:30 - Mon 11:0</label> Room: <label for="">2118</label>
                            </div>
                        </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-12">
<label for="">07-Jul-2020</label>            </div>
            <div class="col-md-10 col-xs-12">
                        <div class="col-md-6">
                            <a href="/Student/Section?q=XUwnlKuNUeS53IWa2Ji0kA%3D%3D">COMPUTER NETWORKS [A]</a>
                            <div>
                                Time: <label for="Tue_11:0_-_Tue_2:0_PM">Tue 11:0 - Tue 2:0 PM</label> Room: <label for="D0205">D0205</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="/Student/Section?q=Kl4ffCFElU99cUgojEzuWg%3D%3D">MICROPROCESSOR AND EMBEDDED SYSTEMS [A]</a>
                            <div>
                                Time: <label for="Tue_8:0_-_Tue_11:0">Tue 8:0 - Tue 11:0</label> Room: <label for="D0410">D0410</label>
                            </div>
                        </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-12">
<label for="">08-Jul-2020</label>            </div>
            <div class="col-md-10 col-xs-12">
                        <div class="col-md-6">
                            <a href="/Student/Section?q=ebRvcu%2F9%2FQjlgJwl9xtrEw%3D%3D">HUMAN COMPUTER INTERACTION [B]</a>
                            <div>
                                Time: <label for="Wed_2:0_PM_-_Wed_3:30_PM">Wed 2:0 PM - Wed 3:30 PM</label> Room: <label for="">1109</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="/Student/Section?q=yupCDdGM8pDuTsQhFtEklQ%3D%3D">WEB TECHNOLOGIES [F]</a>
                            <div>
                                Time: <label for="Wed_12:0_PM_-_Wed_2:0_PM">Wed 12:0 PM - Wed 2:0 PM</label> Room: <label for="D0605">D0605</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="/Student/Section?q=SsGJbVuLVkd6h33Mr324Pw%3D%3D">BUSINESS COMMUNICATION [CS/ENGG] [K]</a>
                            <div>
                                Time: <label for="Wed_9:30_-_Wed_11:0">Wed 9:30 - Wed 11:0</label> Room: <label for="">2118</label>
                            </div>
                        </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-12">
<label for="">09-Jul-2020</label>            </div>
            <div class="col-md-10 col-xs-12">
                    <div class="col-md-6">No Class On This Day</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-12">
<label for="">10-Jul-2020</label>            </div>
            <div class="col-md-10 col-xs-12">
                    <div class="col-md-6">No Class On This Day</div>
            </div>
        </div>
</div>

            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9 col-xs-12">
                        <h5 class="panel-title">Registration</h5>
                    </div>
                    <div class="col-md-3 col-xs-12 btn-group btn-group-dropdown">
                        <select class="btn btn-default form-control" id="SemesterDropDown" name="SemesterDropDown"><option value="/Student/Home/CourseList?q=iBpjLWVwA0WvWhiVaVpu2g%3D%3D">2016-2017, Spring</option>
<option value="/Student/Home/CourseList?q=iBpjLWVwA0U%2BpIhV0RHjNw%3D%3D">2016-2017, Summer</option>
<option value="/Student/Home/CourseList?q=iBpjLWVwA0VSeapNCMbE7g%3D%3D">2017-2018, Fall</option>
<option value="/Student/Home/CourseList?q=iBpjLWVwA0VGb7JXSQRKqw%3D%3D">2017-2018, Spring</option>
<option value="/Student/Home/CourseList?q=iBpjLWVwA0WrON%2FisBcf%2BA%3D%3D">2017-2018, Summer</option>
<option value="/Student/Home/CourseList?q=iBpjLWVwA0UycPTAuyQC9A%3D%3D">2018-2019, Fall</option>
<option value="/Student/Home/CourseList?q=iBpjLWVwA0USMVcjWIZyfA%3D%3D">2018-2019, Spring</option>
<option value="/Student/Home/CourseList?q=iBpjLWVwA0UbwapyzjvQDw%3D%3D">2018-2019, Summer</option>
<option value="/Student/Home/CourseList?q=iBpjLWVwA0UxBuq43Uw%2F%2FA%3D%3D">2019-2020, Fall</option>
<option value="/Student/Home/CourseList?q=iBpjLWVwA0U32cDxueNs3g%3D%3D">2019-2020, Spring</option>
<option selected="selected" value="/Student/Home/CourseList?q=iBpjLWVwA0W3tbe222LvPQ%3D%3D">2019-2020, Summer</option>
</select>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="divCourseList">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


    </div>

</div>

        </div>
        
    
    <script type="text/javascript">
        $(document).ready(function () {
            //window.parent.callErrorModal('Error', 'dsad');
            $("#ProbationSemesterList option:last").attr("selected", "selected");
            $('#divProbation').html('Loading...');
            $('#divCourseList').html('Loading...');
            $('#divCourseList').load($('#SemesterDropDown').val());
            $('#divProbation').load($('#ProbationSemesterList').val());

            $('#SemesterDropDown').change(function () {
                $('#divCourseList').html('Loading...');
                $('#divCourseList').load($('#SemesterDropDown').val());
            });

            $('#ProbationSemesterList').change(function () {
                $('#divProbation').html('Loading...');
                $('#divProbation').load($('#ProbationSemesterList').val());
            });

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.table-details').footable({
                "sorting": {
                    "enabled": true
                }
            });

            var lastScrollTop = 0;

            $(window).scroll(function (event) {
                var st = $(this).scrollTop();
                if (st > lastScrollTop) {
                    if (st > 15) {
                        $(".drawer-menu-link>i").css({ opacity: .33 });
                    }
                } else {
                    if (st < 15) {
                        $(".drawer-menu-link>i").css({ opacity: 1 });
                    }
                }
                lastScrollTop = st;
                //console.log(st);
            });



        });
    </script>

    </div>
</body>
</html>
